*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100%;
	line-height: 1.5;
	font-family:
		system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, sans-serif;
	text-rendering: optimizeLegibility;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
